{
  "openapi": "3.0.1",
  "info": {
    "title": "Grafos Tech - Situação das entregas, pedidos e paradas - Em desenvolvimento (contratos e endpoints podem ser alterado)",
    "version": "v1",
    "description": "Passo a passo para obter a situação da entrega ou pedido:<br/><br/> 1 - Utilizando o server URL Microservices, faça a requisição na /api/Backend e armazene a URL retornada para uso posterior. (Obs: Sugerimos realizar essa requisição uma vez ao dia pois a URL retornada pode ser alterada.) <br/> 2 - Com a URL do passo anterior em mãos, faça a requisição de login e armezene o token retornado.(Obs: Esse token expira sempre após a meia noite.)<br/> 3 - Realize as requisições necessárias utilizando o token nos headers da requisição com a palavra bearer antes do mesmo (Exemplo: Bearer u797ihf65898sd7841d7sfsdf)<br/><br/> E-mail para suporte: contato@grafostech.com.br <br/> Telefone: (47) 98920-0000 (Whatsapp)  <br/><br/> Observação: Caso não possua um usuário e senha para acesso, solicitar a criação para o cliente ou para o suporte Grafos Tech."
  },
  "servers": [
    {
      "url": "https://container-app-prod-ms-backend.proudsand-a95781db.eastus.azurecontainerapps.io",
      "description": "Prod"
    },
    {
      "url": "https://api.grafostech.com.br",
      "description": "Url Microservices"
    }
  ],
  "paths": {
    "/api/Backend": {
      "get": {
        "tags": [
          "Microservices"
        ],
        "summary": "Pega a URL do Backend para realizar as outras operações.",
        "description": "Este endpoint é utilizado para retornar a URL sempre atualizada do backend para que o mesmo possa ser usado nas operaçõs seguintes. Indicamos atualizar a URL do backend uma vez por dia.<br/><br/>Indicamos sempre usar a URL (https://api.grafostech.com.br) neste endpoint.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlBackend"
                }
              }
            }
          }
        }
      }
    },
    "/api/Entregas/GetSituacao": {
      "post": {
        "tags": [
          "Entregas"
        ],
        "summary": "Obtem a situação da entrega, filtrando pelo numero do pedido ou NF",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Grafos.Backend.Domain.Dto.GetSituacaoDTO"
              },
              "examples": {
                "Exemplo 1 - Com chave": {
                  "value": {
                    "chave": "15698186198181947861891"
                  }
                },
                "Exemplo 2 - Numero da NF/pedido": {
                  "value": {
                    "numeroNf": "15.814.8"
                  }
                },
                "Exemplo 3 - Com ID externo": {
                  "value": {
                    "idExterno": "15.814.8-lote1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Grafos.Backend.Domain.Dto.SituacaoEntregaDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/Entregas/SituacaoPorCliente": {
      "post": {
        "tags": [
          "Entregas"
        ],
        "summary": "Obtem a situação das últimas entregas, filtrando pelo cliente - Em desenvolvimento (contrato pode ser alterado)",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Monitoramento_Backend.FiltroEntregaSituacaoPorCliente"
              },
              "examples": {
                "Exemplo 1 - Por cnpj": {
                  "value": {
                    "cnpj": "4878456489445616578",
                    "pagina": 1
                  }
                },
                "Exemplo 2 - Por cpf": {
                  "value": {
                    "cpf": "001251818",
                    "pagina": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitoramento_Backend.Models_API.ResultEntregasPorCliente"
                }
              }
            }
          },
          "404": {
            "description": "Erro",
            "content": {
              "text/plain": {
                "example": "Mensagem de retorno"
              }
            }
          }
        }
      }
    },
    "/api/Evidencias/GetById/{id}": {
      "get": {
        "tags": [
          "Evidencias"
        ],
        "summary": "Obtem a imagem da evidencia em base 64",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Grafos.Backend.Domain.Models_API.Result.ResultApiWithData`1[[System.String, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                }
              }
            }
          }
        }
      }
    },
    "/api/Users/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Realizar login para gerar o token bearer de autenticação.",
        "description": "Tomar cuidado com a expiração do token (Expira meia noite).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Monitoramento_Backend.Models.User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReturn"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UrlBackend": {
        "type": "object",
        "properties": {
          "Backend": {
            "type": "string",
            "default": "https://container-app-prod-ms-backend.proudsand-a95781db.eastus.azurecontainerapps.io"
          }
        }
      },
      "UserReturn": {
        "type": "object",
        "properties": {
          "Token": {
            "type": "string",
            "default": "9yghsudffasiud0f8s9odj5sdf5s6df46sd7"
          }
        }
      },
      "Monitoramento_Backend.Models.EvidenciaFiltro": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Monitoramento_Backend.Models.Evidencias": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "format": "double"
          },
          "data": {
            "type": "string",
            "nullable": true
          },
          "nome": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "string",
            "nullable": true
          },
          "longitude": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Monitoramento_Backend.Models.MotivosDevolucao": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "format": "double"
          },
          "titulo": {
            "type": "string",
            "nullable": true
          },
          "descricao": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Monitoramento_Backend.Models.User": {
        "required": [
          "empresaId",
          "userName"
        ],
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Monitoramento_Backend.FiltroEntregaSituacaoPorCliente": {
        "type": "object",
        "properties": {
          "cpf": {
            "type": "string",
            "nullable": true
          },
          "cnpj": {
            "type": "string",
            "nullable": true
          },
          "pagina": {
            "type": "integer",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Monitoramento_Backend.FiltroEntregaSituacaoPorNfPedido": {
        "type": "object",
        "properties": {
          "chave": {
            "type": "string",
            "nullable": true
          },
          "numeroNf": {
            "type": "string",
            "nullable": true
          },
          "idExterno": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Monitoramento_Backend.Models_API.ResultApi": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "statusCodeHttp": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Monitoramento_Backend.Models_API.ResultEntregasPorCliente": {
        "type": "object",
        "properties": {
          "cnpj": {
            "type": "string",
            "nullable": true
          },
          "cpf": {
            "type": "string",
            "nullable": true
          },
          "pagina": {
            "type": "integer",
            "nullable": true
          },
          "registrosRetornados": {
            "type": "integer",
            "nullable": true
          },
          "entregas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitoramento_Backend.Models_API.ResultEntregas"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Monitoramento_Backend.Models_API.ResultEntregas": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "chave": {
            "type": "string",
            "nullable": true
          },
          "numeroNf": {
            "type": "string",
            "nullable": true
          },
          "idExterno": {
            "type": "string",
            "nullable": true
          },
          "situacao": {
            "type": "string",
            "nullable": true
          },
          "dataRealizada": {
            "type": "string",
            "nullable": true
          },
          "comentarioDoMotorista": {
            "type": "string",
            "nullable": true
          },
          "dataInicio": {
            "type": "string",
            "nullable": true
          },
          "dataFim": {
            "type": "string",
            "nullable": true
          },
          "tempoParado": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "string",
            "nullable": true
          },
          "longitude": {
            "type": "string",
            "nullable": true
          },
          "motivosDevolucao": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitoramento_Backend.Models.MotivosDevolucao"
            },
            "nullable": true
          },
          "evidencias": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitoramento_Backend.Models.Evidencias"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Grafos.Backend.Domain.Models_API.Result.ResultApiWithData`1[[System.String, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "statusCodeHttp": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "data": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Grafos.Backend.Domain.Dto.SituacaoEntregaDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "chave": {
            "type": "string",
            "nullable": true
          },
          "numeroNf": {
            "type": "string",
            "nullable": true
          },
          "idExterno": {
            "type": "string",
            "nullable": true
          },
          "situacao": {
            "type": "string",
            "nullable": true
          },
          "dataRealizada": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "comentarioDoMotorista": {
            "type": "string",
            "nullable": true
          },
          "dataInicio": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dataFim": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tempoParado": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "motivosDevolucao": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Grafos.Backend.Domain.Dto.MotivoDevolucaoDto"
            },
            "nullable": true
          },
          "evidencias": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Grafos.Backend.Domain.Dto.EvidenciaDto"
            },
            "nullable": true
          },
          "sequenciaRealizada": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "sequencia": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Grafos.Backend.Domain.Dto.MotivoDevolucaoDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "titulo": {
            "type": "string",
            "nullable": true
          },
          "descricao": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Grafos.Backend.Domain.Dto.GetSituacaoDTO": {
        "type": "object",
        "properties": {
          "chave": {
            "type": "string",
            "nullable": true
          },
          "numeroNf": {
            "type": "string",
            "nullable": true
          },
          "idExterno": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Grafos.Backend.Domain.Dto.EvidenciaDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "data": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "nome": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "Microsoft.AspNetCore.Mvc.ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Inserir o token JWT com Bearer",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}